* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open sans", ui-sans-serif, system-ui;
}

*::-webkit-scrollbar-track {
  background: black;
  border-radius: 15px;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: silver;
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  background: var(--primary-glow);
  border-radius: 7px;
}