* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open sans", ui-sans-serif, system-ui;
}

button {
  cursor: pointer;
}

*::-webkit-scrollbar-track {
  background: black;
  border-radius: 15px;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: silver;
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(307deg, rgba(6, 182, 212, 1) 0%, rgba(94, 234, 212, 1) 100%);
  border-radius: 7px;
}