.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logoAndListWrapped {
  display: flex;
  gap: 20px;
}

.utilsWrapped {
  display: flex;
  align-items: center;
}

.listWrapped {
  display: flex;
  gap: 2rem;
}

.darkAndBurgerWrapped {
  display: flex;
  align-items: center;
  gap: 20px;
}

.iconDark {
  height: 28px;
  width: 28px;
  color: var(--pure-color-main);
  background-color: var(--primary-glow);
}

.loginWrapped {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.signUp {
  padding: 10px 20px;
  background: var(--primary-glow);
  color: var(--font-color);
  font-size: 500;
  font-weight: var(--font-semibold);
  border-radius: 7px;
}

.login {
  padding: 10px 20px;
}

.mobileIcon {
  height: 28px;
  width: 28px;
  color: var(--pure-color-main);
  background-color: var(--primary-glow);
  cursor: pointer;
}

@media (width > 768px) {
  .mobileIcon {
    display: none;
  }
}

@media (width <= 768px) {
  .listContainer{
    display: none;
  }
  
  .loginWrapped{
    display: none;
  }
}
